@import "../../Assets/Styles/global.scss";

.See-more {
  background-color: rgb(89, 169, 106, 80%);
  border: none;
  border-radius: .5rem;
  height: max-content;
  padding: .7rem;
  font-weight: bold;
  transition: .4s;

  &:hover {
    cursor: pointer;
    background-color: rgb(68, 150, 86);
  }
}

