@import './components/Assets/Styles/global.scss';
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $color__primary;
}
.swal2-container , .swal2-center , .swal2-backdrop-show{
  z-index: 999999999999;
}