.ButtonEdit{
    cursor:pointer;
    color:green
}
.Modales{
    height: 800px !important;
    border:none !important;
    margin: 200px !important;
}
.ButtonInsertar{
    border: solid !important;
    color: rgb(255, 149, 0) !important 
}