.Form-Register{
        width: 350px;
        height: max-content;
        background: #F2F2F2;
        padding: 20px;
        
}

.Input-Register{
    display: inline-block; 
height: 35px;
width: 100%;
left: 0.01%;
right: -0.01%;
top: 12.22%;
bottom: 9.86%;
margin: 6px;
border: none;
background: #EAF0F7;
border-radius: 4px;
transform: rotate(-0.2deg);
}