@import '../../Assets/Styles/global.scss';

.Form-Register{
        width: 350px;
        height: max-content;
        background: #F2F2F2;
        padding: 20px;
        .Input-Register{
            display: inline-block;      
            width: 100%;
            border: none;
            background: #EAF0F7;
            border-radius: 10px;
            color: $color_text_primary;
            padding: 20px 10px;
            margin: 5px 0;
        }
        .Buttons-Forms{
            display: flex;         
            padding: 20px 0;
            justify-content: space-between;
            width: 100%;
            button.LoginI{
                display: flex;
                flex-direction: row;
                justify-content: center !important;
                align-items: center !important;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                background: $color_button_primary;
                color: white;
                font-size: 15px;
            }
            .Sign{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                border-radius: 25px;
                padding: 15px 0;
                border: none;
                background: #FFFFFF;;
                width: 200px;
                font-size: 15px;
            }
        }
}

