$color__primary: #f2f2f2;
$color__secondary: linear-gradient(135.13deg, #FF7DC1 10.46%, #4244FF 127.81%);
$color_text_primary: #585858;
$color_hover_text: #272727;
$color_button_primary: linear-gradient(135.13deg, #FFB929 10.46%, #FF7DC1 127.81%);
$color_button_secondary: #3C3C3C;

