@import '../../Assets/Styles/global.scss';
.Form{
    width: 350px;
    height: max-content;
    background: #F2F2F2;
    margin-top: 20px;
    
   
    .Login-Form{        
        display: inline-block; 
        height: 35px;
        width: 100%;
        left: 0.01%;
        right: -0.01%;
        top: 12.22%;
        bottom: 9.86%;
        margin-top: 8px;
        border: none;
        background: #EAF0F7;
        border-radius: 4px;
        transform: rotate(-0.2deg);
        color: $color_text_primary;
        padding: 20px 10px;
    }
    .Login-Form:focus-visible{
        outline: none;
        outline-offset: unset !important;
    }
    .Buttons-Forms{
            display: flex;
           
            margin-top: 18px;
            justify-content: space-between;
            width: 100%;
            .LoginI{
                display: flex;
                flex-direction: row;
                justify-content: center !important;
                align-items: center !important;
                border: none;
                padding: 5px 10px;
                border-radius: 6px;
                background: $color_button_primary;
                color: white;
                font-size: 15px;
        
                .LoginI-icon{
                    margin-right: 10px;
                    font-size: 15px !important;
                }
            }
                .Sign{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    border-radius: 6px;
                    height: 30px;
                    left: 34.91%;
                    right: -0.16%;
                    border: none;
                    top: 77.6%;
                    bottom: -0.39%;
                    background: #FFFFFF;;
                    width: 200px;
                    font-size: 15px;
                }
    }
    
        
}









