@import '../../Assets/Styles/global.scss';
.Form{
    width: 350px;
    height: max-content;
    background: #F2F2F2;
    margin-top: 20px;
    padding: 20px;
    .Login-Form-container-input{
        padding: 10px 0;
    }
    .Login-Form{        
        display: inline-block;      
        width: 100%;
        border: none;
        background: #EAF0F7;
        border-radius: 10px;
        color: $color_text_primary;
        padding: 20px 10px;
    }
    .Login-Form:focus-visible{
        outline: none;
        outline-offset: unset !important;
    }
    .Buttons-Forms{
            display: flex;         
            margin-top: 18px;
            justify-content: space-between;
            width: 100%;
            .LoginI{
                display: flex;
                flex-direction: row;
                justify-content: center !important;
                align-items: center !important;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                background: $color_button_primary;
                color: white;
                font-size: 15px;
        
                .LoginI-icon{
                    margin-right: 10px;
                    font-size: 15px !important;
                }
            }
                .Sign{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    border-radius: 25px;
                    padding: 15px 0;
                    border: none;        
                    background: #FFFFFF;;
                    width: 200px;
                    font-size: 15px;
                }
    }
    
        
}









