.Filters {
  background-color: #3a404c;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  gap: 2rem;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #4daf62;
  padding: .2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px; 
}

.Input__Text {
  background-color: #466f89;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: .3rem 3rem;
  width: 150px;
  outline: none;
  font-size: 1.2rem; 
  box-shadow: 0 5px 10px #000;
}

.Input__Text::placeholder{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #fff;
  font-weight: bold;
}

.Input__Select {
  color: #fff;
  background-color: #466f89;
  border: none;
  border-radius: 1rem;
  padding: .3rem 1rem;
  font-weight: bold;
  width: 200px;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px #000;
}

.Input {
  position: relative;
}

.Input select {
  appearance: none;
  position: relative;
}

.Input::after {
  color: #fff;
  content: '\25BC';
  height: 100%;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

