.Contenender{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.pagination{
    margin:30px 0;
    list-style: none;
    text-align: center;
}
.numbers{
    display: inline-block;
    margin-right: 10px;
    
    
}
.button{
    display: block;
    padding: 13px 22px;
    color: rgb(58, 58, 58);
    background: linear-gradient(135.13deg, #FFB929 10.46%, #FF7DC1 127.81%);
    font-size: 25px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}
.button:hover{
    background: rgba(255, 154, 2, 0.988);
    color:white
}