.Nav{
    background-color: rgb(36, 36, 36);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    flex-wrap: wrap;
}

.Nav__Logo {
    padding: 1rem;
}

.Nav__Buttons {
    display: flex;
    gap: 2rem;
    margin: auto 0;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem .5rem;
    width: 150px;
    border: none;
    border-radius: 30px;
    background-color: #4daf62;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: .6s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(77, 175, 98, 70%);
}

.Nav__Profile {
    padding-right: 2rem;
    margin: auto 0;
    color: white;
}